manifest {
   mainScript = 'main.nf'
}

trace {
   enabled = true
   overwrite = true
   file = '_trace_RS1_D1_star_droso'
   fields = 'task_id, hash, native_id, process, tag, name, status, exit, module, container, cpus, time, disk, memory, attempt, submit, start, complete, duration, realtime, queue, %cpu, %mem, rss, vmem, peak_rss, peak_vmem, rchar, wchar, syscr, syscw, read_bytes, write_bytes, vol_ctxt, inv_ctxt, env, workdir, script, scratch, error_action' 
}

report {
   enabled = true
   overwrite = true
   file = '_report_RS1_D1_star_droso.html'
}

timeline {
   enabled = true
   overwrite = true
   file = '_timeline_RS1_D1_star_droso'
}

dag {
   enabled = true
   overwrite = true
   file = '_dag_RS1_D1_star_droso.html'
}


docker {
    enabled = true
}

process{
    executor = 'k8s'
   scratch = true
   nodeSelector = 'usedby=ninon'
   withLabel:ALL {
    pod {
        nodeSelector = 'usedby=ninon'
        }
    }
}

k8s {
    debug {
       yaml = true
    }
   namespace = 'default'
   context = 'ninon'
   runAsUser = 0
   storageClaimName = 'nextflow-ninon'
   storageMountPath = '/workspace'
}

params {
	strand = 'unstranded'
	outdir = 'results'
	csv_input = '/workspace/projects/Nine-s/rnasplice_generated/input.csv'
	annotation_gtf= '/workspace/ninon/data/Drosophila_melanogaster.BDGP6.32.106.gtf'
	genome= '/workspace/ninon/data/Drosophila_melanogaster.BDGP6.32.dna.toplevel.fa'
	transcripts_fasta= '/workspace/ninon/data/Drosophila_melanogaster.BDGP6.32.cdna.all.fa'
	csv_contrastsheet = '/workspace/ninon/description_prototype/contrast_sheets/contrastsheet_rnasplice.csv'
	basedir = '/workspace/projects/Nine-s/rnasplice_test'
	outdir = '/workspace/ninon/data/results/'
	alignment_quality = 10
	n_dexseq_plot = 10
	min_samps_gene_expr = 2
	min_samps_feature_expr = 2
	min_samps_feature_prop = 2
	min_feature_expr = 10
	min_feature_prop = 0.1
	min_gene_expr = 10
	threads = 16
}
