manifest {
   mainScript = 'main.nf'
}

trace {
   enabled = true
   file = '_trace_RS1_D1_star_droso'
   fields = 'task_id, hash, native_id, process, tag, name, status, exit, module, container, cpus, time, disk, memory, attempt, submit, start, complete, duration, realtime, queue, %cpu, %mem, rss, vmem, peak_rss, peak_vmem, rchar, wchar, syscr, syscw, read_bytes, write_bytes, vol_ctxt, inv_ctxt, env, workdir, script, scratch, error_action' 
}

report {
   enabled = true
   file = '_report_RS1_D1_star_droso.html'
}

timeline {
   enabled = true
   file = '_timeline_RS1_D1_star_droso'
}

dag {
   enabled = true
   file = '_dag_RS1_D1_star_droso.html'
}
